<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
  <%= @user.each do |user| %>
    <tr>
      <td><%= image_tag @user.get_profile_image %></td>
      <td><%= user.title %></td>
      <td><%= user.body %></td>
    </tr>
  <% end %>
  </tbody>
</table>


