<h1>Book detail</h1>
<div>
  <%= image_tag @user.get_profile_image %>
  <P><%= @user.name %></P>
</div>

<table>
  <tbody>
    <% @books.each do |book| %>
       <tr>
         <td><%= book.title %></td>
         <td><%= book.body %></td>
       </tr>
    <% end %>   
  </tbody>
</table>
  
  

